<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://www.page365.net" title="Page365 website">
        {{!-- full logo for desktop --}}
              <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
        {{!-- favicon for mobile --}}
        
      </a>
    </div>
    <div class="header-logo-title">
      <a href="/hc/en-us" title="Page365 Help center">Help Center</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>
